<% subscribed = subscription.present? %>
<% subscription = Billing::SubscriptionPresenter.new(subscription: subscription, view: self) %>

<div class="panel panel-default">
    <div class="panel-heading"><%= t '.title' %></div>
    <div class="panel-body">
        <% if subscribed %>
            <dl class="dl-horizontal">
                <dt><%= Billing::Subscription.human_attribute_name :kind %></dt>
                <dd><%= subscription.kind %></dd>

                <dt><%= Billing::Subscription.human_attribute_name :balance_threshold %></dt>
                <dd><%= subscription.balance_threshold %></dd>

                <dt><%= Billing::Subscription.human_attribute_name :amount %></dt>
                <dd><%= subscription.amount %></dd>
            </dl>
        <% else %>
            <span class="text-muted"><%= t '.unsubscribed' %></span>
        <% end %>
    </div>
    <div class="panel-footer text-right">
        <%= subscription.cancel_btn %>
        <%= subscription.subscribe_btn %>
    </div>
</div>
